
.buttonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 28px;
  
  }
  
  .button{
    width: 58px;
    height: 45px;
    margin: 2px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 17px;
    background: transparent;
    color: #fff;
    transition: transform 0.3s ease;
    
  }

  .button:hover{
    background-color: bisque;
    transform: scale(1.1);
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);  
color: #000;
  }